/* styling for all pages here */

/* font styling */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

/* highscores link styling */
/* a:hover {
    color: #3c1874;
    transition-duration: 0.3s;
  } */

/* scores styling */
.scores {
  text-align: center;
  padding: 40px;

  font-weight: 600;
  font-size: 30px;
}

/* timer styling */
.timer {
  text-align: center;
  font-weight: bold;
  color: #de354c;;
  font-size: 40px;
}

/*background style*/
body {
  background: url(/assets/images/cream_dust/cream_dust.png) repeat 0 0;
}

/* start quiz screen cover */
#startscreen {
  text-align: center;
  background: url(/assets/images/cream_dust/cream_dust.png) repeat 0 0;
  padding: 50px;
  border: lightgray 20px;
  width: 500px;
  margin: auto;
}

/* this structure was taken from w3schools example and personalized */
button {
  background-color: #3c1874;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

/* mouse over color fade and change */
button:hover {
  background-color: #932432; /* Green */
  color: #f3f3f3;
}

.wrapper {
  text-align: center;
}

/* hide end screen until finish */
.hide {
  display: none;
}

/* #count {
    position: relative;
    margin: auto;
} */
/* slide container */
/* .slide{ */
/* font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    height: 150px;
} */
/* current question container */
/* .active-slide{
    background-color: orange;
    opacity: 1;
    z-index: 2;
}
/* main container */
/* .quiz-container{
  padding: 1em;
  border: 0.5em solid black;
  width: 35em;
  border-radius: 1%;
    background-color: grey;
    position: relative;
    height: 150px;
    
} */
