
/* score */


/* timer styling */
#count {
    position: relative;
    margin: auto;
}

#startscreen{
   
    background-color: blue;
    padding: 100px;
}
/* slide container */
.slide{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    height: 150px;
}
/* current question container */
.active-slide{
    background-color: orange;
    opacity: 1;
    z-index: 2;
}
/* main container */
.quiz-container{
  padding: 1em;
  border: 0.5em solid black;
  width: 35em;
  border-radius: 1%;
    background-color: grey;
    position: relative;
    height: 150px;
    
}
/* this structure was taken from w3schools example and personalized */
button{
    background-color:#008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
/* mouse over color fade and change */
.button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

